<div id="navbar">
  <div id="nav-left">
    <div id="nav-title">NYLON CLUB</div>
  </div>
  <div id="nav-right">
    <div class="nav-item">SHOWS</div>
    <div class="nav-item">ABOUT</div>
    <div class="nav-item">LISTEN</div>
    <div class="nav-item">SHOP</div>
  </div>

</div>


<div id='background'></div>
